/*
 Style sheet for Restaurant
Header and Footer
*/
nav a:visited{
  background-color: #DCDCDC;
}

nav a:hover{
  font-weight: bold;
}

nav a:active{
  text-decoration: none;
}

header{
  background-color: #FFF8DC;
  color: #DC143C;
  height: 275px;
  font-weight: bold;
  font-size: 2.4em;
  font-family: copperplate;
  padding-bottom: 50px;
}

footer{
  background-color: #FFF8DC;
  color: #000000;
  height: 200px;
  font-family: copperplate;
  font-style:italic;
  font-size: 2.0em;
}

header, footer{
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.button {
  background-color: #DC143C;
  color: #fef9ff;
  padding: 10px ;
  border: thin solid #0d1f2d;
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  margin: 0px;
  width:15%;
  border-radius: 16px;


}
